@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');

$accent: #b53471;
$white: #f1e8e8;
$dark-purple: #390828;
$black: #1a0612;
$purple: #511734;

$bx-accent: 0 4px 4px rgba($accent, 0.25);
$bx-16: 0 3px 6px rgba(0, 0, 0, 0.16);
$bx-10: 0 3px 6px rgba(0, 0, 0, 0.1);

$default-font: 'Roboto';

$mobile: 480px;
